/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
backup-11-07-2023.zip
backup16-06-2023.zip
backup-11-07-2023
backup16-06-2023
app-06-06-2023-harendra
app-06-06-2023-harendra.zip
# /crystal