@media only screen and (max-width: 1218px) {
  .wrapper{padding: 0 15px;width: auto}
  .header-links{width: 38%;}
  .banner-card{width: 21%;}
  .banner-ads{width: 37%;}
  .content-box .sec-1-text{font-size: 65px;}
  .pages-container{flex-direction: column;gap: 20px}
  .social-flex-box{flex-wrap: wrap;}
  .social-link{margin-bottom: 15px;}
  .ads-para p{width: 850px;}
}

@media only screen and (max-width: 1021px){
  .detail-bg-color > .details-flex-box{flex-wrap: wrap;}
  .details-container{width: 100%}
  .contact-conatiner{width: 100%}
  .contact-conatiner{margin-top: 0}
  .ads-para p{width: 800px;}
}
@media only screen and (min-width: 980px){
  .car-details-bg-color{display: block;}
}
@media only screen and (max-width: 979px){
  .mt-md-01{margin-top: 10px;line-height: 2;}
  .header-links{width: 50%;}
  .banner-container{flex-wrap: wrap;}
  .company-product{width: 100%;flex: 0 0 100%;}
  .banner-ads{width:100%;flex: 0 0 100%;}
  .ads-links{padding-top: 40px;}
  .ads-links{margin: auto}
  .search-fields{position: relative;}
  .search-tag{position: static;}
  .input-field-search{margin: none;right: 0;bottom: -150px}
  .field-search-tag{width: 98%}
  .cities{width: 30%}
  .categories{width: 30%;}
  .search-tag{width: 40%}
  .content-box .sec-1-text{padding-top: 0;}
  .main-container{align-items: start;margin-top: 126px;}
  .padding-tp{padding-top: 0;}
  .banner-container{margin-top: 50px}
  .compay-conditions ul{column-gap: 20px;}
  .compay-conditions ul li{font-size: 16px}
  .policy::before {
    width: 1px;
    top: 3px;
    left: -10px;
    height: 20px;
}
.ads-para p{width: 700px;}
  .policy::after{
    top: 3px;
    right: -10px;
    height: 20px;
    width: 1px;
  }
  .social-links .social-text{font-size: 18px;}
  .acc__title:before{top: 13px;}
  .acc__title:after{top: 21px;}
  .post-container-flex{flex-wrap: wrap;}
  .post-ads-container{padding-top: 35px;margin: auto;max-width: 340px}
  .border-container{margin-bottom: 0}
  .section-post-ad{padding-top: 100px;}
  .post-select-box select{border: 1px solid #ccc}
  .inerWhite{max-width: inherit;}
  .fillterBtn{display: block !important;}
  .car-details-bg-color{display: none;}
  .list-box {
    flex-wrap: wrap;
    gap: 0;
}
.products-links {
  margin-top: 0;
}
  .products-details, .products-links{width: 100%;}
  .bread-crums{margin-top: 25px;}
  .fillterBtn{
    border: 0;
    display: block ;
    width: auto ;
    line-height: 40px;
    background: #fff;
    border-radius: 5px;
    /* color: #fff; */
    text-align: center;
    padding: 0 30px 0 20px;
    float: left;
    border: 1px solid #6a6464;
  }
  .show-results .select-box{display: none;}
  .products-details .select-box{float: right;margin-top: 0;display: block;height: 45px;
    /* border: 1px solid #ccc; */
  }
  .car-details-bg-color{position: absolute;top: 84%;left: 0;width: 100%;z-index: 15;}
  .products-details{position: relative;}
}

@media only screen and (max-width: 767px){
  .section-search{margin-top: 85px;}
  #search-list-post {width: 100%;}
  .header-container{padding-top: 15px;}
  .header-links{width: 67%;}
  .logo img{width: 170px;}
  .input-field-search{border-radius: 8px;}
  .ads-txt{display: none;}
  button .fa-magnifying-glass{display: block; margin-top: 15px;}
  .search-label{display: none;}
  .search-fields{margin-top: 0;background: none;height: auto;box-shadow: none;flex-wrap: wrap;padding: 0;outline: none;}
  .field-categories{border: 0;background-position: 17px 50%;padding-left: 20px; background: none;}
  .field-search-tag{width: 100%}
  .cities, .categories, .search-tag{height: 55px;width: 100%;margin-bottom: 15px;}
  .cities input, .categories input, .search-tag input{background-color: #fff;border-radius: 10px;box-shadow: 0px 2px 7px rgb(0 0 0 / 30%);padding-left: 20px;}
  .search-tag{position: relative;}
  .input-field-search{bottom: -145px;}
  .main-container{margin-top: 100px;flex-wrap: wrap;}
  .content-box{width: 100%;}
  .img-box{width: 100%}
  .content-box .sec-1-text{font-size: 50px;}
  .pages-number ul li:nth-child(6), .pages-number ul li:nth-child(7), .pages-number ul li:nth-child(8), .pages-number ul li:nth-child(9), .pages-number ul li:nth-child(10){display: none;}
  .product-text{padding-right: 0;}
  .form-container-flex{
    flex-direction: column;
  }
  .field-cities
  {
    background: none;
    width: 100%;
  }
  .field-search-bar
  {
    background: none;
  }
  .field-search-tag
  {
    margin-left: 0px;
  }
  .field-categories
  {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 7px rgb(0 0 0 / 30%);
  }
  .view-prdt-link {
    flex-direction: column;
    gap: 10px;
  }
  .product-img {
    width: 100%;
  }
  .form-left-side {
    max-width: 100%;
  }
  .custom-pop .form-popup {
    max-width: 100%;
    width: 90%;
  }
  .input-width {
    width: 100% !important;
  }
  .dash-search-product {
    display: block;
  }
  .custom-select.all-ads-dropdown {
    width: 100%;
    margin-top: 10px;
  }
  .input-width.phone-num-input {
    width: 85% !important;
  }
  .detail-form .details-flex-box .detail-about-product {
    width: 49%;
  }
  .price-input-field
{
	width: 100% !important;
}
.category-title .ads-inputp-field{	width: 90% }
.input-fields-container textarea{width: 90% }
}
@media only screen and (max-width: 639px){
  .inerWhite{padding: 2px; box-shadow: none;}
  .upload__box_view{width: 100%;}
  .txt-lmt{margin-top: 5px; margin-right: 0px;}
  .my_upload__btn-box{margin-bottom: 0;}
  .title-number{margin-right: 5px;}
  .section-search{margin-top: 70px;}
  .mt-35 {margin-top: 20px;}
  .header-links{display: none;}
  .row-changes{margin-top: 0;}
  .banner-card{width: 28%;margin-bottom: 30px;}
  .location-heading{font-size: 27px;}
  .more-option .more-title{font-size: 23px;}
  .more-option h4{font-size: 20px;}
  .car-category{flex-wrap: wrap;}
  .car-category label{margin-bottom: 15px;}
  .ads-inputp-field{width: 100%}
  .tel-container{width: 70%}
  .tel-container2{width: 100% !important}
  .price{width: 100%}
  .ads-inputp-field.square-bx{width: 100%}
  .section-forgot-password, .section-loging-page{padding-left: 15px;padding-right: 15px}
  .tgmenu{display: block;position: absolute;top: 15px;right: 0;width: 42px;height: 37px;background: url(../img/menuBtn.svg);border: 0;text-indent: -9999px;overflow: hidden;z-index: 101;transition: all 1s ease-in-out;}
  .tgmenu.active{background-image: url(../img/crossbtn.svg); top:25px}
  .mobile-menu{
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    background: #fff;
    /* height: 100%; */
    z-index: 100;
    padding: 0px 0 40px 0;
    transform: translateY(-100%);
    transition: all 1s ease-in-out;
  }
  .ads-para p {width: auto;}
  .serach_btn {
    display: block;
    z-index: 1000;
  }
  .mobile-menu.open{
    transform: translateY(0px);
  }
  .mobile-menu ul li{
    margin-bottom: 2px;
  }
  .mobile-menu ul li a{display: block;color: #10404f;line-height: 45px;padding: 0 20px;}
  .mobile-menu ul li a:hover{background-color: #10404f; color: white;}
  .overflowBody{overflow: hidden;}
  .detail-form .details-flex-box .detail-about-product {
    width: 48%;
  }
  .total-views{ display: none;}
  .category-title .ads-inputp-field{	width: 100% }
.input-fields-container textarea{width: 100% }
.creat-profile{ display: none;}
}
@media only screen and (max-width: 500px){
  .advertisment-container{flex-wrap: wrap;}
  .advertisment-screen{width: 100%}
  .slider-box{width: 100%}
  .advertisment-screen img{height: 280px;}
  .slider .item{padding: 0 15px}
  .slider .slick-prev{top: 50%;left: -20px;right: inherit;transform: rotate(-90deg);margin-top: -17px;}
  .slider .slick-next{top: 50%;right:-3px;transform: rotate(-90deg);margin-top: -17px;}
  .slider-box{padding: 20px}
  .section-more {
    margin-top: 15px;
    margin-bottom: 60px;
  }
  
  .location-heading span{font-size: 21px;}
  .location-heading{font-size: 21px;}
  .more-option .more-title{font-size: 15px;}
  .more-option h4 {font-size: 12px;}

  .xl-screen-view{
    display: none;
  }
  .xm-screen-view{
    display: block;
  }
}
@media only screen and (max-width: 479px){
  .banner-card{width:45%;}
  .compay-conditions ul li{font-size: 14px}
  .products-details .select-box{float: none;margin-top: 0;margin-bottom: 20px;}
  .products-details .select-box select{width: 100%;}
  .fillterBtn{height: 41.5px;}
  /* .luton-town{flex-wrap: wrap;justify-content: normal;} */
  .room-sizes ul li{padding-right: 2px;}
  .product-text p {display: none;}
  .product-text{padding-top: 15px}
  .pages-number{display: none;}
  .bread-crums-links ul{gap:3px}
  .detail-form .details-flex-box .detail-about-product {
    width: 100%;
  }
  .link-container{padding: 5px!important;margin-bottom: 10px;}
  .wrapper { padding: 0 7px; }
  .luton-town{width: 100%;}
  .product-img{width: 133px; height: 82px;}
  .room-pictures{width: 40%;}
  .fillterBtn{width: 50%;}
  .location-heading::before{width: 116px;}
  .link-container h3{display: inline-block;
    width: 315px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;}
    .logo img {
      margin-top: -4px;
    }
    .search-tag, .cities, input::placeholder
    {
    color: #0c3757;
    font-size: 16px;
    }
    .field-categories{font-size: 16px;}
    .fillterBtn{padding: 0 0 0 15px;}
    .fillterBtn span svg{ margin-left: 20px; }
    .tags-btn-filter{font-size: 12px;}
    
    .flex-mob-dir { flex-direction: row-reverse; }
    .link-container h3  {  font-size: 15px; }
    .itemp-prices {font-size: 24px;}
    .location-gurgaon {font-size: 13px;}
    .room-sizes ul li {font-size: 13px;}
    .mt-md-01{line-height: unset; margin: 0 0 25px 0 !important;}
    .luton-town{gap: 5px;}
    .product-text {padding-top:0}
    .luton-town{margin-top: -10px;}
    .room-pictures{font-size: 14px;height: 20px;right: 5px;}
    .creat-profile{ display: none;}
}
@media only screen and (max-width: 375px){
  .banner-card{width:45%;}
  .upload__img-box{margin-left:18px}
  .img-box-upload-v{margin-left: -3px;}
  .creat-profile{ display: none;}
  
}
@media only screen and (max-width: 359px){
  .banner-card{width:40%;}
  .creat-profile{ display: none;}
}